header {
  .filterWidgetWrapper {
    display: flex;
    margin: 0;
  }
  .filterWidgetBtn {
    margin: 5px 5px 5px 20px;
    i {
      font-size: 2rem;
    }
  }
  .filterWidget {
    position: absolute;
    width: 50%;
    min-width: 300px;
    left: 90px;
    top: 20px;
    background-color: rgba(83, 85, 94, 0.9);
    color: white;
    font-weight: bold;
    border-top: 5px solid #1e7dd8;

    & > .row:not(:last-child) {
      border-bottom: 2px solid grey;
    }

    .col {
      display: flex;
      align-items: center;
      padding: 0;
    }

    .row {
      display: flex;
      align-items: center;
      margin: 0 auto;
      padding: 10px;

      &::after {
        display: none;
      }

      &:not(.filterHeader) {
        width: 90%;
      }

      &.filterHeader {
        justify-content: space-between;
        font-size: 1.3rem;
        text-shadow: 1px 1px 0px black;

        .filterName {
          flex-grow: 1;
        }
      }

      &.results,
      &.searchFilter {
        display: block;

        .row {
          margin: 0;
          padding: 0;
          border: none;
        }
      }

      &.results {
        .row {
          &:not(:last-child) {
            margin-bottom: 15px;
          }

          .showAll {
            font-style: italic;
          }
        }
      }

      &.searchFilter .row {
        &.sorts {
          $sortsWidth: 25px;
          $sortsHeight: 18px;

          position: relative;
          margin-left: 30px;

          .activeSort {
            background-color: grey;
          }

          .matches,
          .alphabet {
            border: 2px solid grey;
            background-color: #3a3e44;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }

          .alphabet {
            margin-left: 40px;
            padding: 2px;
            font-size: 0.8rem;

            span {
              display: flex;
              align-items: center;
              width: $sortsWidth;
              height: $sortsHeight;
              padding: 2px;
              &:hover {
                @extend .activeSort;
              }

              border-radius: 3px;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              -ms-border-radius: 3px;
              -o-border-radius: 3px;
              transition: 0.1s;
              -webkit-transition: 0.1s;
              -moz-transition: 0.1s;
              -ms-transition: 0.1s;
              -o-transition: 0.1s;
            }
          }

          .matches {
            position: absolute;
            top: 0;
            flex-direction: column;
            font-size: 1.5rem;

            div {
              width: $sortsWidth;
              height: $sortsHeight;
              margin: 2px;
              padding-left: 2px;
              line-height: 0;

              &.exact {
                z-index: 2;
              }

              &.partial {
                z-index: 1;
              }

              &:hover {
                @extend .activeSort;
              }
              border-radius: 3px;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              -ms-border-radius: 3px;
              -o-border-radius: 3px;
              transition: 0.1s;
              -webkit-transition: 0.1s;
              -moz-transition: 0.1s;
              -ms-transition: 0.1s;
              -o-transition: 0.1s;
            }
          }
        }

        .filterForm {
          display: flex;
          align-items: center;
          z-index: 3;

          button.btn {
            padding: 0;
            background: none;
            box-shadow: none;
          }

          input.searchString {
            background-color: #aaa9a9;
            color: white;
            border: 2px solid rgb(196, 196, 196);
            height: auto;
            padding: 5px;
            margin-left: 10px;
            font-size: 1rem;

            &:focus {
              box-shadow: 0px 0px 2px black;
            }

            transition: 0.1s;
            -webkit-transition: 0.1s;
            -moz-transition: 0.1s;
            -ms-transition: 0.1s;
            -o-transition: 0.1s;
          }
        }
      }

      .selectedResult {
        margin-left: 3px;
        width: 16px;
        height: 16px;
        background-color: #b8b7b7;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }

      .filterName {
        margin-left: 10px;
      }

      .selectedFilter {
        margin-left: 10px;
        color: #96c4e7;
      }

      .clickable {
        cursor: pointer;
      }

      &:not(.filterHeader) i {
        font-size: 1.5rem;
      }

      &.contexts,
      &.dimensions {
        position: relative;
        .innerFilter {
          display: none;
          position: absolute;
          top: 30px;
          left: 15px;
          flex-direction: column;
          width: 70%;
          background-color: #3a3e44;
          border: 2px solid gray;
          border-top: 5px solid #1e7dd8;
          z-index: 4;

          .row {
            padding-left: 0;
          }
        }
      }
    }
  }
}
