.results {
  display: none !important;
  max-height: 400px;
  overflow-y: auto;
  .filterWidgetWrapper .filterWidget & .row {
    &:not(:last-child) {
      margin-bottom: 15px !important;
    }

    .showAll {
      font-style: italic;
    }
  }
}
